services:

  api:
    build:
      dockerfile: ./src/Api.Dockerfile
    ports:
      - 5008:5008
    networks:
      - my-network
    environment:
      - ASPNETCORE_URLS=http://*:5008

  frontend:
    build:
      dockerfile: ./src/Frontend.Razor.Dockerfile
    ports:
      - 5147:5147
    networks:
      - my-network
    environment:
      - ASPNETCORE_URLS=http://*:5147
      - BackendUrl=http://api:5008

  backoffice:
    build:
      dockerfile: ./Backoffice.Razor.Dockerfile
    ports:
      - 5093:5093
    networks:
      - my-network
    environment:
      - ASPNETCORE_URLS=http://*:5093
      - BackendUrl=http://api:5008

networks:
  my-network:
    external: false
