@page
@model LaPasta.FrontendRazor.Pages.IndexModel
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    <div class="container">
      <div class="row">
          @foreach (var p in Model.Products)
          {
              <div class="col">
                  <div class="card mt-5" style="width: 18rem;">
                      <img src="./images/@(p.Id).jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">@p.Name</h5>
                          <p class="card-text">@p.Description</p>
                          <form method="post">
                              <input type="hidden" id="Id" name="Id" value="@p.Id">
                              <button type="submit" class="btn btn-primary">Add to Cart</button>
                          </form>
                      </div>
                  </div>
              </div>
          }
      </div>
    </div>
</div>

@section Scripts {
    @if (Model.HasMessage)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header border-bottom-0 p-3">
                    <strong class="me-auto">@Model.Message</strong>
                    <small>just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample);
            toast.show();
        </script>

        Model.Message = "";
    }
}
